<!DOCTYPE html>
<html>
  <head>    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pgwslideshow.css' />
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/pgwslideshow.min.js"></script>
    <script type="text/javascript" src="/javascripts/demo.js"></script>
  </head>
  <body>
    <ul class="pgwSlideshow">
      <li><img src="/images/demo-1.jpg" alt="人工湖"></li>
      <li><img src="/images/demo-5.jpg" alt="拉幕广场"></li>
      <li><img src="/images/demo-8.jpg" alt="骑马的跳跳"></li>
      <li><img src="/images/demo-10.jpg" alt="玩具集锦"></li>
      <li><img src="/images/baby.jpg" alt="襁褓中的跳跳"></li>
      <li><img src="/images/zoo-1-mother.jpg" alt="跟妈妈在动物园"></li>
      <li><img src="/images/wife-and-me.jpg" alt="东方明珠边的我们"></li>
      <li><img src="/images/zoo-banma.jpg" alt="赭山动物园的跳跳妈妈还有斑马"></li>
      <li><img src="/images/zoo-tiaotiao.jpg" alt="奔跑吧 跳跳！"></li>
      <li><img src="/images/zoo-xiaoxuan.jpg" alt="跳跳姐姐晓璇"></li>
      <li><img src="/images/zoo-yang.jpg" alt="波尔山羊"></li>
    </ul>
    
  </body>
</html>