<!DOCTYPE html>
<html>
  <head>    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/knockout-3.0_0.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </head>
  <body>
    <div class="container">
      <ul>
        <li class="test">前往我的第一个照片墙</li>
        <li>to be come.</li>
        <li>to be come.</li>
        <li>to be come.</li>
      </ul>
    </div>
    
  </body>
</html>